<div class="card card-outline card-info">
  <div class="card-header">
    <h3 class="card-title">
      Profissional
    </h3>
  </div>
  <div class="table">
    <div id="plans" class='row'>
      <div class="card-body">  
      <table class="table table-bordered table-striped no-padding datatables">
        <thead>
          <tr>
            <th width="15%">Nome</th>
            <th>CPF</th>
          </tr>
        </thead>
        <tbody>
        
          <tr>     
              <td><%= @employment.person.name %> </td>  
              <td><%= @employment.person.cpf  %></td> 
                     
          </tr>
        
        </tbody>
      </table>          
      </div>
    </div>
  </div>
</div>


<%= render 'form', box_class: 'info', object: @employment %>

